<div id="vassal-footer">
  <ul id="vassal-footer-list">
    <li><span class="copyright">Copyright &copy; 2009</span> <a href="/about.php#team">The <acronym>Vassal</acronym> Team</a></li>
    <li><a href="/license.php">License</a></li>
    <li><a href="/donate.php">Donate</a></li>
    <li><a href="/sitemap.php">Sitemap</a></li>
    <li><a href="/search.php">Search</a></li>
    <li><a href="/about.php">About</a></li>
    <li><a href="http://sourceforge.net/projects/vassalengine"><img src="http://sflogo.sourceforge.net/sflogo.php?group_id=90612&type=13" width="120" height="30" alt="Get VASSAL Engine at SourceForge.net. Fast, secure and Free Open Source software downloads" /></a></li>
    <li><a href="http://www.yourkit.com/"><img src="/images/YourKit_logo.png" alt="YourKit Java Profiler" width="96" height="30" /></a></li>
  </ul>
</div>
