
body {
  font-size: small;
  margin: 0 auto;
  padding: 0;
  background: none;
  min-width: 700px;
  width: 790px;
}

body, td, th, input, textarea, pre, h1, h2, h3, h4, h5, h6 { color: #222; }
body, td, th, input, textarea { font-family: sans-serif; }
pre { font-family: monospace; }

p {
  text-align: justify;
}

a img {
  border: 0;
}

#vassal-page {
  margin: 0 5px;
}

#vassal-logo {
  float: left;
  margin-top: 5px;
}

#vassal-logo a img {
  border: none;
}

#vassal-header {
  min-height: 82px;
  height: 82px;
  margin: 0 auto;
  padding: 0;
}

#vassal-nav-list {
  margin: 0;
  padding: 0;

  height: 28px;
  background: transparent url('stripe.png') left repeat-x;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #e7e7e7;
}

#vassal-nav-list li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

#vassal-nav-list a {
  display: block;
  color: #333333;
  padding: 8px 10px;
  font-weight: bold;
  font-size: 110%;
  text-decoration: none;
  line-height: 1;
}

#vassal-nav-list a:hover {
  color: #eeeeee;
  background-color: #5e5a5a;
}

#vassal-footer {
  clear: both;
  margin-top: 15px;
  padding-top: 76px;
  background: transparent url('footer.png') top repeat-x;
}

#vassal-footer-list {
  margin: 0;
  padding: 0px 5px;
}

#vassal-footer-list li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

#vassal-footer-list a {
  display: block;
  padding: 8px 10px;
  font-size: small;
  text-decoration: none;
  line-height: 1;
}

#content {
  clear: both;
}

.content_box_left { 
  width: 48%;
  float: left;
  clear: left;
}

.content_box_right {
  width: 48%;
  float: right;
  clear: right;
}

.content_box_full {
  clear: both;
}

ul.dllist {
  display: block;
  margin: 0;
  padding: 0.5em;
}

ul.dllist li {
  margin: 0 5px;
  padding: 0;
  list-style: none;
  display: inline;
}

div.dlbutton {
  padding: 0.5em;
  margin: 1em auto;
  border: 1px solid #8dea34;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #62a324;
  color: white;
  font-weight: bold;
  font-size: 110%;
  width: 18em;
  text-align: center;
}

div.dlbutton a {
  color: white;
  text-decoration: none;
}

div.dlbutton a:hover {
  text-decoration: underline;
}

div.dlbutton div {
  margin: 0.5em;
}

table.screenshot {
  margin: 0 auto;
}

table.screenshot td {
  padding: 0 5px;
}

ul.news {
  margin: 0;
  padding: 0;
  -moz-column-count: 3;
  -moz-column-gap: 5px;
}


li.day {
  margin: 0.5em;
	padding: 0;
	list-style-type: none;
  float: left;
}

ul.events {
  margin: 0 0 0 1em;
  padding: 0;
}

ul.events li {
  list-style-type: disc;
  margin-left: 3.5em;
  padding-left: 0;
}

div.date {
  background: #FAF4C8;
	border-right: 1px solid #E3DE9F;
	border-bottom: 1px solid #E3DE9F;
	float: left;
  clear: both;
	text-align: center;
	line-height: 1.1em;
	padding: 2px 1px 5px 1px;
	width: 2.2em;
/*	color: #A19D68; */
/*	margin: 0 0.5em 1em 0; */
	margin: 0 0.5em 0em 0;
}

#more-news {
  float: right;
  clear: both;
}

div.date:first-line {
  font-size: 70%;
}
