[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # target: string. URL to go to after login.
  #%]

[% IF !target %]
 [% target = "index.cgi" %]
[% END %]

[% PROCESS global/header.html.tmpl
  title = "Log in to $terms.Bugzilla",
%]

[% USE Bugzilla %]

<p>
  [% terms.Bugzilla %] needs a legitimate login and password to continue. Please <a href="/login.php?returnto=%2Ftracker%2F[% target FILTER html %]">log in</a> or <a href="/register.php">create an account</a>.
</p>

[% PROCESS global/footer.html.tmpl %]
