.errorbox {
  border: 2px red solid;
  padding: 0.5em 1em;
  background-color: #fff2f2;
}

.errorbox h2 {
  font-size: 1em;
  font-weight: bold;
  display: inline;
  margin: 0 .5em 0 0;
  border: none;
}

.loginbox {
  float: left;
}
