
module hddtemp_sg 1.0;

require {
	type scsi_generic_device_t;
	type hddtemp_t;
	class chr_file read;
}

#============= hddtemp_t ==============
allow hddtemp_t scsi_generic_device_t:chr_file read;
