
module listbridge 1.0;

require {
	type var_log_t;
  type postfix_local_t;
  type lib_t;
	type httpd_t;
	class file { open execute_no_trans };
};

allow httpd_t var_log_t:file open;
allow postfix_local_t lib_t:file execute_no_trans;
