
module phpbb 1.0;

require {
	type system_mail_t;
	type httpd_sys_rw_content_t;
	class file read;
}

#============= system_mail_t ==============
allow system_mail_t httpd_sys_rw_content_t:file read;
