{% extends "base.html" %}
{% block title %}Vassal - Contact{% endblock %}
{% block description %}Contact information for Vassal.{% endblock %}
{% block content %}
  <div class="hero border-bottom mb-5">
    <div class="container-md px-5 py-5 mt-5">
      <div class="row mb-4">
        <div class="col text-center">
          <h1 class="display-4 fw-bold">How to Contact Us</h1>
        </div>
      </div>
      <div class="row justify-content-center text-md-center">
        <div class="col-md-8">
          <p class="fs-5"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container px-5">
    <div class="row py-4 my-2 justify-content-center border-bottom">
      <div class="col">
        <h3>User forum</h3>

        <p>Visit our <a href="https://forum.vassalengine.org/">forum</a> to ask questions about Vassal and game modules.</p>
      </div>
    </div>
    <div class="row py-4 my-2 justify-content-center border-bottom">
      <div class="col">
        <h3>Discord server</h3>

        <p>Visit our <a href="https://discord.gg/GDdfq9AkfM">Discord server</a> for live chat about Vassal and game modules.</p>
      </div>
    </div>
    <div class="row py-4 my-2 justify-content-center">
      <div class="col">
        <h3>Site maintainer</h3>

        <p>For problems with the site, you are strongly encouraged to post in <a href="https://forum.vassalengine.org/c/site-feedback/2">our forum under the Site Feeback topic</a>; or, if the forum is not working or for sensitve issues, email <a href="mailto:webmaster@vassalengine.org">the webmaster</a> <em>Do not use the contact information below for user support.</em>

        <address>
          Joel Uckelman<br>
          W314 N7556 State Road 83<br>
          Hartland, WI 53029<br>
          USA<br>
          <br>
          +1 (262) 220 7247<br>
          <a href="mailto:uckelman@vassalengine.org">uckelman@vassalengine.org</a>
        </address>

        </p>
     </div>
    </div>
  </div>
{% endblock %}
