{% extends "base.html" %}
{% block title %}Vassal's Licenses{% endblock %}
{% block description %}A list of Vassal's dependencies and their licenses.{% endblock %}
{% block content %}
  <div class="hero border-bottom mb-5">
    <div class="container-md px-5 py-5 mt-5">
      <div class="row mb-4">
        <div class="col text-center">
          <h1 class="display-4 fw-bold">What's Used by Vassal</h1>
        </div>
      </div>
      <div class="row justify-content-center text-md-center">
        <div class="col-md-8">
          <p class="fs-5">Vassal depends on an array of open-source resources, both for the program and our website. Listed below are those dependencies and their licenses.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container px-5">
    <!-- Application -->
    <div id="app" class="row py-4 my-2 justify-content-center">
      <div class="col text-center">
        <h2>Application</h2>
      </div>
    </div>

   <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>Apache Batik</h3>
      </div>
      <div class="col-md">
        <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>Apache Commons Codec</h3>
      </div>
      <div class="col-md">
        <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>Apache Commons IO</h3>
      </div>
      <div class="col-md">
        <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>Apache Commons Lang</h3>
      </div>
      <div class="col-md">
        <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>Apache Commons Logging</h3>
      </div>
      <div class="col-md">
        <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>
      </div>
    </div>

   <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>Apache HttpComponents</h3>
      </div>
      <div class="col-md">
        <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>Apache XML Commons XML APIs Extensions</h3>
      </div>
      <div class="col-md">
        <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>Apache XML Graphics Commons</h3>
      </div>
      <div class="col-md">
        <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>asm</h3>
      </div>
      <div class="col-md">
        <a href="https://asm.ow2.io/license.html">3-Clause BSD</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>BeanShell</h3>
      </div>
      <div class="col-md">
        <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">GNU Lesser General Public License 2.1</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>janino</h3>
      </div>
      <div class="col-md">
        <a href="https://spdx.org/licenses/BSD-3-Clause.html">3-Clause BSD</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>java-getopt</h3>
      </div>
      <div class="col-md">
        <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">GNU Lesser General Public License 2.1</a> or later
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>jlayer</h3>
      </div>
      <div class="col-md">
        <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">GNU Lesser General Public License 2.1</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>jsoup</h3>
      </div>
      <div class="col-md">
        <a href="https://opensource.org/licenses/MIT">MIT</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>logback</h3>
      </div>
      <div class="col-md">
        <a href="https://www.eclipse.org/org/documents/epl-v10.php">Eclipse Public License 1.0</a> or <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">GNU Lesser General Public License 2.1</a>
      </div>
    </div>

   <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>Maven Artifact</h3>
      </div>
      <div class="col-md">
        <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>miglayout</h3>
      </div>
      <div class="col-md">
        <a href="https://spdx.org/licenses/BSD-3-Clause.html">3-Clause BSD</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>Plexus Common Utilities</h3>
      </div>
      <div class="col-md">
        <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>SLF4J</h3>
      </div>
      <div class="col-md">
        <a href="https://opensource.org/licenses/MIT">MIT</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>SwingX</h3>
      </div>
      <div class="col-md">
        <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">GNU Lesser General Public License 2.1</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>Tango icon set</h3>
      </div>
      <div class="col-md">
        Public Domain
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>Timing Framework</h3>
      </div>
      <div class="col-md">
        <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>
      </div>
    </div>

    <!-- Testing -->
    <div id="testing" class="row py-4 my-2 justify-content-center">
      <div class="col text-center">
        <h2>Testing</h2>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>API Guardian</h3>
      </div>
      <div class="col-md">
        <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>Byte Buddy</h3>
      </div>
      <div class="col-md">
        <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>Hamcrest</h3>
      </div>
      <div class="col-md">
        <a href="https://spdx.org/licenses/BSD-3-Clause.html">3-Clause BSD</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>JUnit</h3>
      </div>
      <div class="col-md">
        <a href="https://www.eclipse.org/legal/epl-2.0/">Eclipse Public License 2.0</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>mockito</h3>
      </div>
      <div class="col-md">
        <a href="https://opensource.org/licenses/MIT">MIT</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>Objenesis</h3>
      </div>
      <div class="col-md">
        <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>opentest4j</h3>
      </div>
      <div class="col-md">
        <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>System Rules</h3>
      </div>
      <div class="col-md">
        <a href="https://opensource.org/licenses/cpl1.0.php">Common Public License 1.0</a>
      </div>
    </div>

    <!-- Website -->
    <div id="website" class="row py-4 my-2 justify-content-center">
      <div class="col text-center">
        <h2>Website</h2>
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>Font Awesome</h3>
      </div>
      <div class="col-md">
        Our static webpages embed the <code>book-open</code>, <code>bullhorn</code>, <code>chess-knight</code>, <code>home</code>, <code>info-circle</code>, <code>landmark</code>, and <code>fab-discord</code> SVG icons from <a href="https://fontawesome.com">Font Awesome 5</a>, made available under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a> (cc by) license.
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>mktree</h3>
      </div>
      <div class="col-md">
        We use on our site the <code>mktree</code> JavaScript library by Matt Kruse, which is availalbe under the <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPL</a> and <a href="https://opensource.org/licenses/MIT">MIT</a> licenses.
      </div>
    </div>

    <div class="row border-bottom py-4 my-2">
      <div class="col-md-4">
        <h3>SVGRepo</h3>
      </div>
      <div class="col-md">
        We use on our site <a href="/images/chess-svgrepo-com.svg"><code>chess-svgrepo-com.svg</code></a>, <a href="/images/dices-svgrepo-com.svg"><code>dices-svgrepo-com.svg</code></a>, <a href="/images/newspaper-folded-svgrepo-com.svg"><code>newspaper-folded-svgrepo-com.svg</code></a>, <a href="/images/server-svgrepo-com.svg"><code>server-svgrepo-com.svg</code></a>, <a href="/images/tank-svgrepo-com.svg"><code>tank-svgrepo-com.svg</code></a>, and embed a modified version of <code>january-2014-calendar-symbol-for-interface-svgrepo-com.svg</code> from <a href="https://www.svgrepo.com">SVGRepo</a>, all made available under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal (CC0 1.0) Public Domain Dedication</a> (cc0).
      </div>
    </div>

    <div class="row py-4 my-2">
      <div class="col-md-4">
        <h3>Other Logos</h3>
      </div>
      <div class="col-md">
        The SVG logos of <a href="https://discord.com/branding">Discord</a> and <a href="https://github.com/logos">GitHub</a> are used with permission of their owners.
      </div>
    </div>

  </div>
{% endblock %}
