/*
 * Custom rules for global.css.
 * The rules you put here override rules in that stylesheet.
 */

@import url("http://www.test.nomic.net/css/site.css");

body {
  margin: 0 auto;
  padding: 0 0 1em 0;
}

#wrapper {
  margin: 8px;
}

#titles {
  background-color: #546035;
}

#footer {
  background: #cdd3c9;
  border-top: 1px solid #9caa79;
  border-bottom: 1px solid #9caa79;
}
